@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.contact-head{
    font-family: 'Crete Round', serif;
}

.contact-bg{
    background-color: #cafafe7d;
}

.gmail-bg{
    background-color: #fff;
}

.icons-list li{
    list-style: none;
}

.icons-list li:hover{
    cursor: pointer;
}

.contact-text{
    border: none;
}

.contact-textarea{
    border: none;
    height: 220px;
}