@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.normal-text{
    font-family: 'Roboto', sans-serif;
    color: #4e4e50b7;
}

.head-text{
    font-family: 'Crete Round', serif;
    font-weight: bolder;
}

.spname{
    color: #3c8ffc;
}

.brands-icon{
    font-size: 22px;
    cursor: pointer;
    color: #181616;
}

.icon-bg{
    background-color: #fff;
    transition-duration: 1s;
}

.icon-bg:hover{
    transform: scale(1.2);
}