@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


.head-bg{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.navbar-style{
    background-color: #32e1c9;
    font-family: 'Ubuntu', sans-serif;
}

.link{
    text-decoration: none;
    color: #fff;
}