@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.about-head{
    font-family: 'Crete Round', serif;
}

.about-span{
    color: #3c8ffc;
}

.img-pop{
    transition-duration: 1s;
}

.img-pop:hover{
    transform: scale(1.1);
}

.list-arrow{
    list-style-image: url('../images/right-arrow.png');
}

.pad{
    padding-top: 140px;
}

/* @media screen and (min-width: 320px) and (max-width: 800px) {
    pad{
        padding-top: -10px;
    }
  } */