@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.design-head{
    font-family: 'Crete Round', serif;
}

.card-content{
    font-size: 90%;
}

.card-pop{
    transition-duration: 1s;
}

.card-pop:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.design-bg{
    background-color: #cafafe7d;
}

.certificate-head{
    letter-spacing: 3px;
}